<tr id="{{bossId}}" class="row-{{index}} boss-row">
    <td class="name">{{name}}</td>
    <td class="city">{{city}}</td>
    <td class="specificLocation">{{specificLocation}}</td>
    <td class="lastChallenged">{{lastChallenged}}</td>
    <td class="cooldownTime">{{cooldownTime}}</td>
    <td class="recommendedTeam">{{recommendedTeam}}</td>
    <td class="notes">{{notes}}</td>
</tr>